

.search_form_container {
  @apply flex items-center justify-center p-3 bg-primary_light
  dark:bg-primary_dark rounded-lg;

  .search_form_content {
    @apply flex gap-2;

    .search_form_input {
      @apply rounded-md p-1 text-sm px-2
      placeholder:text-sm placeholder:p-1;
      min-width: 100px;
      max-width: 150px;

      &:focus {
        @apply bg-neutral-400 text-neutral-50 placeholder:text-neutral-50;
      }
    }
  }
}